
body {
    display: grid;
    grid-template-rows: 1fr 8fr;
    margin: 0;
    height: 100vh;
    width: 100vw;
}

.header {
    border: 1px solid red;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-links {
    display: flex;
}

.deck-body {
    border: 1px solid blue;
}