:root {
    --main-color: rgb(42, 166, 229);

}
.old-standard-tt-regular {
    font-family: "Old Standard TT", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .old-standard-tt-bold {
    font-family: "Old Standard TT", serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .old-standard-tt-regular-italic {
    font-family: "Old Standard TT", serif;
    font-weight: 400;
    font-style: italic;
  }

.modal {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.in {
    display: flex;
    gap: 10px;
}

body {
    display: grid;
    grid-template-rows: 1fr 6fr;
    margin: 0;
    height: 100vh;
    width: 100vw;
    font-family:'Times New Roman', Times, serif;
    
}

.header {
    /**border: 1px solid red;*/
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    background-color: var(--main-color);
    color: white;
}

.logo {
    margin-left: 20px;
    font-size: 1.5rem;
}

.nav-links {
    display: flex;
    margin-right: 20px;
    gap: 10px;
}

a {
    text-decoration: none;
    color: white;
}

.deck-body {
    /**border: 1px solid blue;*/
    display: grid;
    grid-template-rows: 1fr 10fr;
    
}

.myDeck-header {
    font-size: 2rem;
    font-family: "Old Standard TT";
    text-align: center;
    display: flex;
    justify-content: center;
    gap: 5px;
    margin-top: 10px;
    color: var(--main-color);
}

.MyDecks-title {
    color: black;
}

.add-deck {
    background-color: white;
    border: 1px solid rgb(18, 197, 18);
    height: 40px;
    width: 40px;
}

.add-deck:hover {
    background-color: rgb(18, 197, 18);
    color: white;
}

.myDeck-dashboard {
    /**border: 1px solid green;*/
    margin-top: 0px;
    padding: 30px;
}

.tabs {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.tab-label {
    margin-right: 10px;
}

.tab-filter {
    width: 80px;
    height: 30px;
    background-color: white;
    border: 1px var(--main-color) solid;
}

.tab-filter:hover {
    background-color: var(--main-color);
}

.decks {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    border: 1px solid purple;
    gap: 20px;
    padding: 5px;
}

.deck {
    border: 1px solid black;
    height: 300px;
    display: grid;
    grid-template-rows: 1fr 5fr;
}

.deck-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
    background-color: var(--main-color);
    color: white;
}

.head-title {
    margin-left: 5px;
}

.deck-features {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 5px;
}

.track-button {
    background-color: white;
    border: 1px solid grey;
    color: teal;
}

.track-button:hover {
    background-color: teal;
    color: white;
}

.close-button {
    margin-right: 5px;
    background-color: white;
    border: 1px solid grey;
    color: red;
}

.close-button:hover {
    background-color: red;
    color: white;
}

.edit {
    background-color: white;
    border: 1px solid orange;
    color: orange;
}

.edit:hover {
    background-color: orange;
    color: white;
}

.fav {
    background-color: white;
    border: 1px solid purple;
    color: purple;
}

.fav:hover {
    background-color: purple;
    color: white;
} 

.edit, .fav {
    height: 60px;
}

.games {
    display: flex;
    flex-grow: 1;
    gap: 5px;
}

.quiz, .match {
   flex-grow: 1;
}

.quiz {
    background-color: white;
    border: 1px solid blue;
    color: blue;
}

.quiz:hover {
    background-color: blue;
    color: white;
}

.match {
    background-color: white;
    border: 1px solid gold;
    color: gold;
}

.match:hover {
    background-color: gold;
    color: white;
}


